.card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 1.5rem;
  background-color: '#181818'; 
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055); 
}

.socialContainer {
  width: 3.25rem; 
  height: 3.25rem; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(44, 44, 44);
  transition: transform 0.3s, background-color 0.3s;
}

.containerOne:hover {
  background-color: #d62976; 
  transform: scale(1.5);
  border-radius: 0.375rem;
}

.containerTwo:hover {
  background-color: black; 
  transform: scale(1.5);
  border-radius: 0.375rem;
}

.containerThree:hover {
  background-color: #0072b1; 
  transform: scale(1.5);
  border-radius: 0.375rem; 
}

.containerFour:hover {
  background-color: #25d366; 
  transform: scale(1.5);
  border-radius: 0.375rem; 
}

.socialContainer:active {
  transform: scale(0.9);
}

.socialSvg {
  width: 1.063rem; 
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.Link__github {
    padding: 0.8em;
    outline: none;
    border: none;
    background: '#181818';
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s ease-in-out;
  }
html {
  scroll-behavior: smooth;
}

.snap-mandatory {
  scroll-snap-type: y mandatory;
}

.snap-mandatory > div {
  scroll-snap-align: start;
}

.overflow-y-auto {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.overflow-y-auto::-webkit-scrollbar {
  display: none; 
}